<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left">
            <div class="content-left-wrapper">

                <div class="copy">© 2020 Igeo</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        <div class="col-lg-6 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                        <div id="progressbar"></div>
                    </div>
                    <!-- /top -->

                    <div class="row">
                        <div class="col">
                            <img src="assets/img/logo.png" alt="">
                            <h1>
                                Bienvenido a Igeo. Favor ingresar a su cuenta
                            </h1>
                        </div>
                    </div>

                    <form id="wrapped" method="POST">
                    
                                <div class="form-group">
                                    <label for="username">*Usuario</label>
                                    <input type="email" name="username" class="form-control required" placeholder="Escriba su correo electrónico">
                                </div>
                                <div class="form-group">
                                    <label for="username">*Contraseña</label>
                                    <input type="password" name="lastname" class="form-control required" placeholder="Escriba su contraseña">
                                </div>
                                <!-- /row -->
                                <div class="form-group terms">
                                    <label class="container_check d-inline-block">Recordar clave 
                                        <input type="checkbox" name="terms" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="d-inline-block float-right">Olvidó su clave</a>
                                </div>
                                <div class="form-group cont-btn">
                                    <button class="btn btn-success btn-sm-igeo mr-2">Ingresar</button> 
                                    <button class="btn btn-outline-secondary btn-sm-igeo">Solicitar acceso</button>
                                </div>
                                <div class="form-group legend">
                                    Al ingresar usted acepta los <a href="#">términos y condiciones de la plataforma</a>
                                </div>

                    </form>
                </div>
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>